//
// @file Color Schema Ui template for Color Skins
//
// File is a Template for color_schema_ui module AND is included in styles.scss.
//
// DON'T EDIT THIS FILE!
//
// Have a look at color theme variables in _variables.scss if you want to change colors.
// Only reason to edit here is fixing Color Schema issues, colors must be changed by variables.

//*** Default values required for Color Schema Ui ***/
// MUST BE ONLY color values.
// NO sass VARS here.
// The following variables define the Color Schema UI DEFAULT color scheme.
$site-background-color: #c0c0c0 !default;
$peripheral-color-primary: #233755 !default;
$font-contrast-color-primary: rgb(234,239,246) !default;
$peripheral-color-secondary: #3C506E !default;
$font-contrast-color-secondary: rgb(234,239,246) !default;
$header-background-color: rgb(234, 239, 246) !default;
$content-background-color: rgb(234,239,246) !default;
$paragraphs-header-background-color: rgb(234,239,246) !default;
$font-content-color: #233755 !default;
$font-header-color: rgb(234,239,246) !default;
$font-footer-color: rgb(234,239,246) !default;


// That's not nice but currently required here.
$screen-sm-max: 992px !default;


//*** HELPER MIXINS - BEGIN ***/

$fontSelectors: "a, a:after,
a:before,
.tags,
.field,
[class$='__extra-info'],
h1, h2, h3, h4, h5, h6,
p,
span,
.block,
.block-title,
.paragraph a,
.below-video,
.media-gallery__info,
.image__info,
.page-header,
&.page-header,
&.header__upper-menu--title,
.fa,
li:after, li::before,
li *";

@mixin colorSkin ($background-color, $contrast: $font-contrast-color-primary) {
  &,
  .preview-wide,
  .media--preview {
    background: $background-color;
  }

  #{$fontSelectors} {
    color: $contrast;
  }

  // Icon media Info background
  *[class$="__linktext"] {
    background-color: rgba($background-color, .65);
    color: $contrast;
  }

  // Little Text on picture background
  *[class$="__type-text"] {
    background-color: rgba($background-color, .65);
    color: $contrast;
  }

  *[class$="__ico"] {
    & {
      background-color: $contrast;
    }
    & i::before {
      color: $background-color;
    }
  }

  // Silly workaround for inverted block.
  .file--download {
    background: $contrast;
    .info * {
      color: $background-color;
    }
    .icon > i:before {
      color: $background-color;
    }
  }
  // Inverted block
  .below-video select {
    color: $background-color;
    background: $contrast;
    border-color: $contrast;
  }

  // Triangle
  .teaser-image:after {
    border-right-color: $background-color !important;
  }

  // Slider dots
  .view-latest-media .slick-slider .slick-dots li > button {
    border-color: $background-color;
  }
  .slick-controls__gallery {
    background-color: transparentize($background-color, .7);
  }

  // Footer Sitemap Icon.
  .block-nrw-menu-sitemap-block__title:before {
    background: $contrast;
    color: $background-color;
  }

  .slick__lightroom,
  .slick__download,
  &.media-gallery .slick-arrow {
    background: rgba($contrast, .95);
    color: $background-color;
  }
}

@mixin colorFont($color) {
  #{$fontSelectors} {
    color: $color;
  }
  // Icon within menu flyout.
  .nrw-menu__content-title-icon i {
    background: $color;
    color: $peripheral-color-primary;
  }
}
//*** HELPER MIXINS - END ***/


/*** BACKGROUND COLORS - BEGIN ***/

body {
  background-color: $site-background-color;
}

.header__title {
  color: $peripheral-color-primary;
}

.header__menu-icon > i {
  background-color: $peripheral-color-primary;
}

.scroll-to-top,
.echo  i {
  background-color: $peripheral-color-primary;
}

// Before content Triangle-down color in Header
.full .skin--background-primary {
  & + .normal-page__content-paragraphs:before,
  &.header ~ .content:before {
    border-top-color: $peripheral-color-primary;
  }
}

.main-container {
  background-color: $content-background-color;
}

.paragraph__header {
  background-color: $paragraphs-header-background-color;
}

// Triangles
article.citation .citation__left:after,
article.preview .teaser-image:after,
article.slim .teaser-image:after {
  border-bottom-color: $content-background-color;
}
article.long-text:nth-child(odd) .teaser-image:after {
  border-left-color: $content-background-color;
}

article.long-text:nth-child(even) .teaser-image:after {
  border-right-color: $content-background-color;
}

@media screen and (min-width: $screen-sm-max) {

  article.preview:nth-child(4n-2) .teaser-image:after,
  article.preview:nth-child(4n-3) .teaser-image:after,
  article.slim:nth-child(4n-2) .teaser-image:after,
  article.slim:nth-child(4n-3) .teaser-image:after {
    border-right-color: $content-background-color !important;
  }

  article.preview:nth-child(4n-1) .teaser-image:after,
  article.preview:nth-child(4n) .teaser-image:after,
  article.slim:nth-child(4n-1) .teaser-image:after,
  article.slim:nth-child(4n) .teaser-image:after {
    border-left-color: $content-background-color !important;
  }
}


.footer__upper:before {
  background-color: $peripheral-color-secondary;
}
/*** BACKGROUND COLORS - END ***/


/*** FONT COLORS - BEGIN ***/
body,
.block {
  color: $font-content-color;
}

.paragraph__header {
  h2 {
    color: $peripheral-color-secondary;
  }
  > i {
    background: $peripheral-color-secondary;
    &:before {
      color: $paragraphs-header-background-color;
    }
  }
}

.nrw-menu-header__content {
  background: $peripheral-color-primary;
}

.nrw-menu-header__icon.menu-search {
  &[aria-expanded="true"],
  &:hover {
    &,
    i,
    span {
      color: $header-background-color;
    }
  }
}

.skin--background-header {
  @include colorSkin ($header-background-color, $peripheral-color-secondary);
}

.skin--background-secondary {
  @include colorSkin ($peripheral-color-secondary, $font-contrast-color-secondary);
}

.skin--background-primary {
  @include colorSkin ($peripheral-color-primary, $font-contrast-color-primary);
}

.skin--font-primary {
  @include colorFont($peripheral-color-primary);
}

.skin--font-secondary,
.nrw-menu-header__icons {
  @include colorFont($peripheral-color-secondary);
}

// Header Background
.header-wrapper > .header {
  background-color: $header-background-color;
}

.skin--font-header,
.page-header .field,
.page-header,
.social-media-settings-menu,
.breadcrumb-nav .breadcrumb,
.menu--header-top {
  @include colorFont($font-header-color);
}

.skin--font-footer {
  @include colorFont($font-footer-color);
  .nrw-menu-sitemap__col {
    color: $font-footer-color;
  }
}

.teaser-title,
.slick-arrow {
  color: $peripheral-color-secondary;
}

.slick-slider.slick-dotted {
  // Global base dot colors
  .slick-dots {
    li > button {
      border-color: $peripheral-color-secondary;
    }
    li.slick-active > button {
      background-color: $peripheral-color-secondary;
    }
  }

  // Special case: page-slideshow
  // background color-primary in mobile only.
  &.paragraph.slideshow__slides {
    background: $font-contrast-color-primary;
    .slick-arrow:before {
      color: $peripheral-color-primary;
    }
    .slick-dots {
      li > button {
        border-color: $peripheral-color-primary;
      }
      li.slick-active > button {
        background-color: $peripheral-color-primary;
      }
    }
    & p,
    a {
      color: $peripheral-color-primary;
    }

    @media (max-width: $screen-sm-max) {
      background: $peripheral-color-secondary;
      & p,
      a {
        color: $font-contrast-color-secondary;
      }
      .slick-dots {
        li > button {
          border-color: $font-contrast-color-secondary;
        }
        li.slick-active > button{
          background: $font-contrast-color-secondary;
        }
      }
      .slick-arrow {
        display: none !important;
      }
    }
  }
}
/*** FONT COLORS - END ***/
